/* ---- Importação de Fonte ---- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');


:root {            
    --color-background:#f0f0f0;
    --color-background-bodycard:#FFFFFF;
    --color-primary:#0d6efd;                     
    --color-text-principal:#010101;                            
    --font:"Roboto", sans-serif;                 
}


/* ---- Reset e Estilos Globais ---- */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}

body{
    background-color: var(--color-background);
    color:var(--color-text-principal);
    font-family:var(--font);
    
}

#navbar-top{
    background-color: var(--color-primary);
}

.icones{
    width: calc(30px + 1.5vw);
}

.icones-btn{
    width: calc(10px + 0.5vw);
}

#foto-perfil{
    max-width: 200px;
}

h1{
    font-size: calc(2rem + 1vw);
    font-weight: 400;
}

h2{
    font-size: calc(1.5rem + 0.5vw);
    font-weight: 500;
}

h3{
    font-size: calc(1.25rem + 0.5vw);
    color:var(--color-primary);
    font-weight: 500;
}

h4{
    font-size: calc(1.125rem + 0.25vw);
    font-weight: 400;
}

h5{
    font-size: calc(1.125rem + 0.125vw);
}

p, #habilidades{
    font-size: calc(1.0rem + 0.1vw);
    font-weight: 400;
}

small{
    font-size: 0.80rem;
}

#resumo, #frase-contato, #desc-projeto{
    text-align: justify;
}

#graduacao{
    font-weight: 500;
}

#btnOpen-Habilidades{
    display: block;
    padding-left: 0;
    align-items: center;
    gap: 0.5rem;
}

#btnOpen-Habilidades:hover {
    border: 1px solid var(--color-primary);
    border-radius: 4px;
}

#btnClose-Habilidades{
    display: none;
    padding-left: 0;
    align-items: center;
    gap: 0.5rem;
}

#btnClose-Habilidades:hover {
    border: 1px solid var(--color-primary);
    border-radius: 4px;
}

#habilidades-li{
    display: none;
}


#Conteiner-formContato{
    display: none;
    padding: 1rem;
    background-color: var(--color-background-bodycard);
}

.form-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
}

.card-body{
    background-color: var(--color-background-bodycard);
}

#tech-projetos{
    color:var(--color-primary);
}

@media (max-width: 768px) {
    #resumo, #frase-contato{
        padding-right: 1.5rem;
    }

}