/* ---- Importação de Fontes e Variáveis de Cor ---- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto+Mono:wght@400;500&display=swap');

:root {            
    --color-background:#f0f0f0;
    --color-background-bodycard:#f9f9f9;
    --color-primary:#0d6efd;
    --color-muted:#05439f;                      
    --color-text-principal:#010101;                
    --color-text-extra: #FFFFFF;                
    --font: 'Roboto', sans-serif;                 
}


/* ---- Reset e Estilos Globais ---- */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}

body{
    background-color: var(--color-background);
}

#navbar-top{
    background-color: var(--color-primary);
}

.icones{
    width: calc(30px + 1.5vw);
}

.icones-btn{
    width: calc(10px + 0.5vw);
}

#foto-perfil{
    max-width: 200px;
}

h1{
    font-size: calc(2rem + 1vw);
    font-weight: 400;
}

h2{
    font-size: calc(1.5rem + 0.5vw);
    font-weight: 400;
}

h3{
    font-size: calc(1.25rem + 0.5vw);
    color:var(--color-primary);
    font-weight: 400;
}

h4{
    font-size: calc(1.125rem + 0.25vw);
    font-weight: 400;
}

h5{
    font-size: calc(1.125rem + 0.125vw);
}

p, #habilidades{
    font-size: calc(1.0rem + 0.1vw);
    font-weight: 400;
}

small{
    font-size: 1.0rem;
}


.btn-habilidades{
    background: none; 
    border: none;          
    padding: 0;           
    margin: 0;             
    cursor: pointer;       
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

#btnOpen-Habilidades{
    display: block;
    padding-left: 0;
}

#btnClose-Habilidades{
    display: none;
    padding-left: 0;
}

#habilidades-li{
    display: none;
}


#Conteiner-formContato{
    display: none;
    padding: 1rem;

}

.form-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
}

.card-projeto{
    display: block;
}



.show{
    display: block;
}


@media (min-width: 768px) {


}