/* ---- Importação de Fontes e Variáveis de Cor ---- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto+Mono:wght@400;500&display=swap');

:root {
    /* ---- Largura máxima da tela  ---- */
    --max-width: 1400px;

    /* ---- Paleta de Cores ---- */

    --background-principal: #ffffff;
    --background-section: #d8deeb;
    --background-card:#d8deeb;
    --color-border-shadow: #001845;
    --color-title-principal:#0466C8;
    --color-title-section:#001233;
    --color-subtitle-section:#0466C8;
    --color-info-add-section:#002855;
    --color-text: #001233;
    --color-button: #0466C8;
    --color-button-text: #ffffff;
    --color-button-hover:  #0635ce;

    /* ---- Definição de fonte, tamanho e espaçamento ---- */
    --font-family: 'Montserrat', sans-serif;
    --font-size-title-principal:2.0rem;
    --font-size-title: 1.5rem;
    --font-size-subtitle: 1.35rem;
    --font-size-button: 1.2rem;
    --font-size-text: 1.2rem;
    --line-height: 1.7;
    --font-weight-max:600;
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --space-min:5px;
    --space-medium:10px;
    --space-large:15px;
    --space-max:25px;
    --border-min:10px;
    --border-medium:15px;
    --border-max:20px;


    /* ---- Tamanho de imagens e ícones ---- */
    --width-photo-mobile: calc(150px + 10vw);
    --height-photo-mobile: calc(150px + 10vh);
    --width-photo-desktop: calc(250px + 25vw);
    --height-photo-desktop: calc(250px + 7.5vh);
    --width-icons: calc(30px + 1.5vw);
    
}

/* ---- Reset e Estilos Globais ---- */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-principal);
    color: var(--color-text);
    line-height: var(--line-height);
    max-width: var(--max-width);
    margin: auto;

}

.icones{
    width: var(--width-icons);
}

.profile-card{
    background-color: var(--background-section);
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    padding: var(--space-max);
    max-width: 100%;
    margin: 0 auto;
}

.profile-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile-photo {
    width: var(--width-photo-mobile);
    height: var(--height-photo-mobile);
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: var(--space-large);
    align-self: center;
}

.profile-title {
    font-size: var(--font-size-title-principal);
    font-weight: var(--font-weight-medium);
    color: var(--color-title-principal);
    margin-bottom: var(--space-min);
    align-self: center;
}

.profile-title-tech {
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-normal);
    color: var(--color-subtitle-section);
    margin-bottom: var(--space-medium);
    justify-self: left;
}

.profile-description {
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height);
    color: var(--color-text);
    padding-bottom: var(--space-max);
    text-align: justify;
}

.profile-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--space-large);
  margin-top: var(--space-max);
  
}

.profile-buttons button {
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    background-color: var(--color-button);
    color: var(--color-button-text);
}

.profile-buttons button:hover {
  background-color: var(--color-button-hover);
}

.title-section{
    font-size: var(--font-size-title);
    color:var(--color-title-section);
    font-weight: var(--font-weight-max);
}

.subtitle-section{
    font-size: var(--font-size-subtitle);
    color: var(--color-subtitle-section);
    font-weight: var(--font-weight-max);
}

.info-add-section{
    font-size: var(--font-size-text);
    color: var(--color-info-add-section);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--space-min);
}

.habilidade-formacao-rede-social{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: calc(100%);
    box-shadow: 0 4px 20px rgba(0,0,0,0.18);
}

.formacao{
    padding: var(--space-medium);
    
}

.graduacao-card{
    background-color: var(--background-card);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.023);
    border-radius:var(--border-min);
    border-color: var(--color-border-shadow);
    border: 1px solid;
    padding: var(--space-max);
    margin-bottom: var(--space-max);
    
}

.lista-conhecimento-habilidade{
    font-size: var(--font-size-text);
    padding-left: var(--space-max);
    padding-bottom: var(--space-min);
}

.habilidades{
    padding: var(--space-medium);

    
}

.habilidades-card{
    background-color: var(--background-card);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.023);
    border-radius:var(--border-min);
    border-color: var(--color-border-shadow);
    border: 1px solid;
    padding: var(--space-medium);
    margin-bottom: var(--space-max);   
}

.rede-social{
    padding: var(--space-medium);
}

.rede-social-card{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    gap: var(--space-max);
}

.projetos{
    background-color: var(--background-section);
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    padding: var(--space-max);
    max-width: 100%;
    margin: 0 auto;
}

.contato{
    padding: var(--space-max);
    margin: 0 auto;   
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);

}

.contato-card{
    background-color: var(--background-card);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.023);
    border-radius:var(--border-min);
    border-color: var(--color-border-shadow);
    border: 1px solid;
    padding: var(--space-max);
    margin: var(--space-max);
    max-width: 600px;
}

.form-contato label{
    display: block;
    font-weight: var(--font-weight-max);
    margin-top: var(--space-medium);
    margin-bottom: var(--space-min);
    text-align: left;
}

.form-contato input,
.form-contato textarea{
    display: block;
    font: inherit;
    width: 100%;
    padding: var(--space-large);
    border-radius: var(--border-min);
    border: 1px solid var(--color-border-shadow);
}

.form-contato textarea {
    resize: vertical;
    min-height: 100px;
}

.checkbox-termos-de-uso{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: left;
    gap: 8px; 
    margin-bottom: 15px;
    white-space: nowrap; 

}

.checkbox-termos-de-uso input[type="checkbox"] {
    width: 22px;
    height: 22px;
    accent-color: #007BFF; /* Cor personalizada da checkbox (opcional) */
    cursor: pointer;
    align-items: baseline;
}

.form-contato span{
    text-align: left;
    font-size: var(--font-size-text);
}


.form-contato button {
    align-self: center;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    background-color: var(--color-button);
    color: var(--color-button-text);
}

.form-contato button:hover {
  background-color: var(--color-button-hover);
}

.footer{
    background-color: var(--background-section);
    font-size: var(--font-size-text);
    padding-top: var(--space-max);
    padding-bottom: var(--space-large);
    text-align: center;
}

@media (min-width: 768px) {
    .profile-card{
        padding: var(--space-max + 3vw);
    }
    .profile-content {
        flex-direction: row;
        align-items: center;
    }

    .profile-photo {
        margin-bottom: 0;
        margin-right: var(--space-max);
        width: var(--width-photo-desktop);
        height: var(--height-photo-desktop);
    }

    .profile-content {
        text-align: left;
    }

    .profile-buttons {
        justify-content: flex-start;
    }

    .habilidade-formacao-rede-social{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto;
    }
    .habilidades{ 
        order:1;
        margin-left: var(--space-large);
    }
    .rede-social{ 
        order:2;
        margin-left: var(--space-large);
    }
    .formacao{ 
        order:3;
        margin-right: var(--space-large);
    }

    .habilidades-card{
        background-color: var(--background-principal);
        box-shadow: none;
        border: none;
        border-radius:none;
        border-color: none;
        
    }

    .contato-card{
        transform: translateX(50%);
    }

}